@*@model FoodMVC.Models.LogReg*@

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.ActionLink("Vartotojas", "Create", "Regs")
    </li>
    <li>
        @Html.ActionLink("El. pašto adresas", "Create", "Logs")
    </li>
    <li>
        @Html.ActionLink("Atsijungti", "Create", "Logs")
    </li>
</ul>
