@model FoodMVC.Models.Time

<div>
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.ResentTime)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.ResentTime)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.LastTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTime)
        </dd>*@
    </dl>
</div>
