@{
    ViewBag.Title = "Maistas";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Adresas: </strong><a>Vyrių sodų 1-oji, 21, Vilnius Lt 10534</a><br /><br />
    <strong>Tel: </strong><a> +370 698 31479</a><br /><br />
    <strong>El.paštas: </strong><a href="mailto:alspok@gmail.com">alspok@gmail.com</a><br />
</address>
